{{>partials/header}}

<fieldset>
    <legend>Create new user</legend>
    <form method="POST" action="/new-user">
        <input type="text" name="firstName" placeholder="Type your Name" />
        <input type="text" name="lastName" placeholder="Type your last Name" />
        <input type="text" name="email" placeholder="Type your Email" />
        <input type="text" name="age" placeholder="Type your Age" />
        <input type="text" name="interests" placeholder="Type your Interests" />
        <button type="submit">Create</button>
    </form>
</fieldset>

<hr/>

<h2>Users</h2>
<ul>
{{#users}}
    <li>
        {{{ name }}}
    </li>
{{/users}}
</ul>

<hr/>
<h2>Produtos</h2>
<ul>
    {{#products}}
        {{>partials/productItem}}
    {{/products}}
</ul>

<hr/>
<h2>Produtos a partir de R$ 12</h2>
<ul>
    {{#expensives}}
        {{>partials/productItem}}
    {{/expensives}}
</ul>

<hr/>

<ul>
    {{#frasesDoDia}}
        <li>{{.}}</li>
    {{/frasesDoDia}}
    {{^frasesDoDia}}
        Não há frases motivacionais hoje.
    {{/frasesDoDia}}
</ul>

{{>partials/footer}}